<!DOCTYPE html>
<html <%- has_config('language') ? ' lang="' + get_config('language').substring(0, 2) + '"' : '' %>>

<head>
    <%- partial('common/head') %>

        <!-- 新增 jsdeliv cdn 支持 start -->
        <!-- {% assign assets_base_url = site.url %}
        {% if site.cdn.jsdelivr.enabled %}
        {% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository %}
        {% endif %} -->
        <!-- 新增 jsdeliv cdn 支持 end -->

    <meta name="google-site-verification" content="8ObTjhVsmvFtANcK1gJBFiZWapC-h4akhkO1nPKS_lE" />
</head>

<body class="is-<%= column_count() %>-column">
    <%- partial('common/navbar', { page }) %>
    <% function main_column_class() {
        switch (column_count()) {
            case 1:
                return 'is-12';
            case 2:
                return 'is-10-tablet is-10-desktop is-10-widescreen';
            case 3:
                return 'is-8-tablet is-8-desktop is-6-widescreen';
        }
        return '';
    } %>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column <%= main_column_class() %> has-order-2 column-main"><%- body %></div>
                <%- partial('common/widget', { position: 'left' }) %>
                <%- partial('common/widget', { position: 'right' }) %>
            </div>
        </div>
    </section>
    <%- partial('common/footer') %>
    <%- partial('common/scripts') %>
    <% if (has_config('search.type')) { %>
    <%- partial('search/' + get_config('search.type')) %>
    <% } %>
    <!-- 雪花特效 -->
    <script type="text/javascript">
        var windowWidth = $(window).width();
        if (windowWidth > 480) {
            document.write('<script type="text/javascript" src="/js/snow.js"><\/script>');
        }
    </script>

    <!-- clarity -->
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "jtz9jw03is");
    </script>

</body>

</html>